<aside class="sidebar left-sidebar sticky" >
  <button
    class="hamburger hamburger--spin"
    type="button"
    id="toggle-menu"
    aria-label="Toggle Menu"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <header>
    <figure class="site-avatar">
      <%= link_to root_path do %>
        <%= image_tag "avatar.png", class: "site-logo", width: "300", height: "300", loading: "lazy", alt: "Avatar" %>
      <% end %>
    </figure>

    <div class="site-meta">
      <h1 class="site-name">
        <%= link_to "Slice of Bytes", root_path %>
      </h1>
      <h2 class="site-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    </div>
  </header>

  <ol class="social-menu">
    <li>
      <a href="https://www.linkedin.com/in/marcionps" target="_blank" title="Twitter">
        <%= svg "icons/brand-linkedin.svg" %>
      </a>
    </li>
    <li>
      <a href="https://github.com/marcionps" target="_blank" title="Github">
        <%= svg "icons/brand-github.svg" %>
      </a>
    </li>
  </ol>

  <ol class="menu" id="main-menu">
    <li class="current">
      <%= link_to root_path do %>
        <%= svg "icons/home.svg" %>
        <span>Home</span>
      <% end %>
    </li>
    <li class="">
      <%= link_to about_path do %>
        <%= svg "icons/user.svg" %>
        <span>About</span>
      <% end %>
    </li>
  </ol>
</aside>
