<!DOCTYPE html>
<html data-scheme="dark">
  <head>
    <title>SliceOfBytes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= body_class(params[:controller], params[:action]) %>">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container main-container flex on-phone--column extended">
      <%= render "shared/left_sidebar" %>

      <main class="main full-width">
        <%= yield %>
      </main>
      <%= render "shared/right_sidebar" %>
    </div>
  </body>
</html>
